ion-card-title {
  font-weight: 700;
}

.muted {
  color: var(--ion-color-medium);
  font-size: 0.9rem;
}

.small {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
}

.empty {
  text-align: center;
  margin-top: 30px;
  color: var(--ion-color-medium);
}
