<ion-header>
  <ion-toolbar>
    <ion-title>Artículos Educativos</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="(authService.user$ | async)?.isAdmin" [routerLink]="['/admin/create-article']" >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let article of articles" [routerLink]="['/articles', article.id]">
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.createdAt | date:'short' }} by {{ article.author }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
