<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary" class="responsive-tab-bar">
    <ion-tab-button tab="dashboard">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Panel de Control</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pets">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Mascotas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adoption-requests">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
