@media (max-width: 600px) {
  .responsive-tab-bar ion-label {
    display: none;
  }

  .responsive-tab-bar ion-tab-button {
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  .responsive-tab-bar ion-icon {
    font-size: 24px; /* Adjust icon size if needed */
  }
}
