.is-read {
  opacity: 0.6;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
  --background: var(--ion-item-background, var(--ion-background-color));
  --border-color: var(--ion-color-step-150, #d7d8da);
  --border-width: 0 0 0.55px 0;
  --highlight-background: var(--ion-color-step-200, #c8c7cc);
  --highlight-color: var(--ion-color-step-200, #c8c7cc);
}

ion-item h2 {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--ion-color-dark);
}

ion-item p {
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

ion-item ion-icon[name="ellipse"] {
  font-size: 0.7em;
}

.ion-text-center {
  text-align: center;
  padding: 20px;
  color: var(--ion-color-medium);
}
