ion-content {
  --background: #ffffff;
}

.pet-hidden {
  opacity: 0.6;
  --background: var(--ion-color-light);
}

.action-buttons {
  padding: 0;

  ion-col {
    text-align: center;
  }

  ion-button {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
